 .nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.dealer-locator-section .left-ribbon,
.dealer-locator-section .right-ribbon {
	margin: 0;
}

.dealer-locator-section .left-ribbon .map-container {
	float: right;
	margin-bottom:36pt;
}

.dealer-locator-section .right-ribbon .tabs-container,
.dealer-locator-section .right-ribbon .results-container {
	float: right;
}

.dealer-locator-section .right-ribbon .map-container {
	float: left;
}
/*map*/

#dealer-map {
	height: 735pt;
}
/*@media #{$xs-breakpoint} {
	#dealer-map{height:735pt;}
  }*/

@media (max-width: 768px) {
	#dealer-map {
		height: 260pt;
	}
}

#dealer-map #MicrosoftNav{z-index:0;}
#dealer-map #MicrosoftNav a{border:none;}


/* ------------ */
/* tabs styles  */
/* ------------ */

.dealer-locator-section .tabs-container {
	margin-bottom: 22pt;
}

.dealer-locator-section .tabs-container .nav-tabs {
	border: none;
}

.dealer-locator-section .tabs-container .nav-tabs li {
	background: #f3f3f3 none repeat scroll 0 0;
	margin-right: 1%;
	width: 32.3%;
}

.dealer-locator-section .tabs-container .nav-tabs li:last-child {
	margin: 0;
}

.dealer-locator-section .tabs-container .nav-tabs li.active {
	background: #fff none repeat scroll 0 0;
	border-bottom: 4px solid #e82c2a;
	border-top: 2px solid #fff;
	box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.3);
	top: -2px;
	z-index: 10;
}

.dealer-locator-section .tabs-container .nav-tabs li a {
	border-radius: 0;
	color: #5e6162;
	font-family: "AvenirLTPro-Heavy", Arial, sans-serif;
	padding: 32px 20px;
	position: relative;
	text-align: center;
	border: none;
	margin: 0;
}

.dealer-locator-section .tabs-container .nav-tabs li.active a {
	background: #fff none repeat scroll 0 0;
	color: #000;
	border: none;
	margin: 0;
}

.dealer-locator-section .tabs-container .nav-tabs li.active a::after {
	background: #e82c2a none repeat scroll 0 0;
	height: 4px;
	width: 100%;
}


/* ------------ */
/* forms inputs */
/* ------------ */
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper {
	float: left;           
	width: 100%;
}

.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .input-container{
	float: left;
	background-color: #f3f3f3;
	width: 100%;
	padding-right:45px;
}

.dealer-locator-section .find-a-dealer-form-content-acura .input-container .filters-options-container{
	background-color: #fff;
	display: flex;
	align-items: center; 
	justify-items: center; 
	padding-right: 30px; 	
	float: left; 
	height: 44px;
}

.dealer-locator-section .find-a-dealer-form-content-acura .input-container .filters-options-container a.filters-options{display: block; align-self: center; border: medium none;}

.dealer-locator-section .find-a-dealer-form-content-acura .input-container .filters-options-container a.filters-options img{display: block; height: auto; width: 30px; margin: auto;}

.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .input-container .bootstrap-select{
	background: #fff none repeat scroll 0 0;
	float: right;
	height: 4.4rem;
	padding: 0 5px;          
}
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .filters-container{display:none; width: 100%; height:900px; background-color:#fff; /* border: 1px solid red */; position: absolute; z-index: 99;}
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .filters-container ul.list-filters{
    border-top: 2px solid #d2d2d2;
    padding-left: 0;
}
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .filters-container ul.list-filters li {
    border-bottom: 1px solid #d2d2d2;
    list-style: outside none none;
    padding: 10px 0 5px 20px;
}
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .filters-container .acr-cta-btn{margin:0 auto; display:block;}

.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .filters-container .bootstrap-select{width:100%; padding:0; background-color:#fff; border:2px solid red;}
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .filters-container .bootstrap-select .btn.dropdown-toggle.btn-default{background-color:#fff;}

.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .bootstrap-select .filter-option{font-size:12pt;}
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .bootstrap-select .dropdown-menu > li > a{font-size: 12pt;}

.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .bootstrap-select .btn.dropdown-toggle.btn-default {
	background-color: #f3f3f3;
	border: medium none;
	border-radius: 0;
	height: 4.4rem;
}
	
			   
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .bootstrap-select .bs-caret::after{
	content: '\e914';
	color: #000;
	font-family: "acura-icon";
	font-size: 1.1rem;
	left: -2px;			
	position: relative;
	top: 0;
	backface-visibility: hidden;
	display: inline-block;
	transform: rotate(90deg) translateZ(0px) scale(1, 1);
	transform-style: preserve-3d;
	transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .bootstrap-select .caret {
	display:none;
	visibility:hidden;
}
		
.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper .acr-input-pre {
	background-color: #f3f3f3;
	display: inline-block;
	height: 4.4rem;
	padding: 1.1rem;
	vertical-align: middle;
	width: 4.4rem;
}

.dealer-locator-section .find-a-dealer-form-content-acura .input-wrapper input {
	background-color: #f3f3f3;
	height: 4.4rem;
	margin: 0 -0.5rem;
	outline: 0 none;
	padding: 1.3rem 0;
	vertical-align: middle;
	/*width: 75%;*/
}

.dealer-locator-section .find-a-dealer-form-content-acura .acr-cta-btn.submit {
	float: right;
	height: 4.4rem;
	width: 4.4rem;
	min-width: 0;
	padding: 0.7rem;
	position: absolute;
	right: 0;
}
.dealer-locator-section .find-a-dealer-form-content-acura .acr-cta-btn .acr-icon{
	position: relative;
    top: 3px;
    transform: scaleX(-1);
	width: 2rem;
	height: 2rem;
}


/* ------------ */
/* results list */
/* ------------ */

.dealer-locator-section .results-list {
	margin: 0 0 20pt 0;
	padding:0;
}

.dealer-locator-section .results-item-template {
	list-style: none;
	margin:0;
	padding-top:20pt;
	padding-bottom:20pt;
	background-color:#f1f1f1;
}

.dealer-locator-section .results-item-template.hovered {
	background: #ccc;
}

.dealer-locator-section .results-item-template .results-item-details{margin-top:0pt;}

.dealer-locator-section .dealer-result-index {
	background-color: red;
	border-radius: 100pt;
	color: #fff;
	font-size: 16pt;
	line-height: 24pt;
	padding: 11pt 16pt;
}

.dealer-locator-section .dealer-result-distance {
	color: #5d6061;
	font-size: 14pt;
	line-height: 24pt;
	margin: 0 0 0 10pt;
	padding: 0;
}

.dealer-locator-section .preferred-container p,
.dealer-locator-section .preferred-container p{
	float: right;
	position: absolute;
	right: 15px;
	text-align: right;
	top: -10px;
}

.dealer-locator-section .make-preferred-dealer,
.dealer-locator-section .remove-preferred-dealer{
	color: #000;
	font-size: 12pt;
	line-height: 24pt;
	border:none;
}
.dealer-locator-section .make-preferred-dealer .acr-icon{
	height: 33px;
	left: 0;
	position: relative;
	top: 8px;
}
.dealer-locator-section .remove-preferred-dealer .acr-icon{
	height: 33px;
	left: 0;
	position: relative;
	top: 8px;
	fill:red;
}
.dealer-locator-section .remove-preferred-dealer span{
	display:block;
	line-height:16pt;
}

.dealer-locator-section .results-item-template p {
	color: #000;
	font-family: "AvenirLTPro-Light",Arial,sans-serif;
	font-size: 14pt;
}

.dealer-locator-section .results-item-template p strong{
	font-family: "AvenirLTPro-Black",Arial,sans-serif;
	font-size: 14pt;
}

.dealer-locator-section .results-item-template .salesSchedule .days{}

.dealer-locator-section .results-item-template p .acr-cta-text{font-size:14pt;}
.dealer-locator-section .results-item-template .dealer-result-directions{margin-top:10px;}

.dealer-locator-section .more-dealers{margin-bottom:26pt; display: block;float: none; font-size:14pt;}


.dealer-locator-section .dealer-result-index {
    background-color: red;
    border-radius: 100pt;
    color: #fff;
    display: inline-block;
    font-size: 16pt;
    line-height: 24pt;
    padding: 11pt 5pt;
    position: relative;
    text-align: center;
    top: -10pt;
    width: 47pt;
}



.dealer-locator-section .make-preferred-dealer,
.dealer-locator-section .remove-preferred-dealer {
	color: #000;
	font-size: 12pt;
	line-height: 24pt;
}

.dealer-locator-section .dealer-result-name {
	font-size: 20pt;
	margin: 10pt 0 25pt;
}

.dealer-locator-section .results-item-template p {
	color: #000;
	font-family: "AvenirLTPro-Light", Arial, sans-serif;
	font-size: 14pt;
}

.dealer-locator-section .results-item-template p strong {
	font-family: "AvenirLTPro-Black", Arial, sans-serif;
	font-size: 14pt;
}

.dealer-locator-section .results-item-template .salesSchedule .days {}

.dealer-locator-section .results-item-template p .acr-cta-text {
	font-size: 14pt;
}

.dealer-locator-section .results-item-template .dealer-result-directions {
	margin-top: 10px;
}

.dealer-locator-section .more-dealers {
	margin-bottom: 26pt;
	display: block;
	float: none;
	font-size: 14pt;
}
strong.text-center {
	font-family: "AvenirLTPro-Black",Arial,sans-serif;
	font-size: 14pt;
	padding-top: 30px;
}
#dealer-map .loader {
    display: block;
    z-index: 200;
    position: relative;
    background: white;
    width: 108%;
    height: 100%;
    margin-left: -15px;
}
#dealer-map .loader img {
    position: relative;
    left:42%;
    top:40%;
}



/* ---------------------------- */
/* custom modal dealer locator  */
/* ---------------------------- */

.dealer-locator-modal .modal-lg {
    left: 0;
    margin: auto;
    right: 0;
    top: 0;
    transform: none;
    width: 900px;
}